.dropzone.dz-started .dz-message{
		display: block !important;
	}
	.borde-dropzone{
	border: #F6F6F6 solid 2px !important;
	border-radius: 0px !important;
	background: white !important;
	margin-bottom:20px;
	font-family: 'Avenir LT Std 35 Light';
	letter-spacing: 0.05em;
	color:#000000;
	}

	.form-control {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 12px;
	line-height: 1.5;
	color:  black;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid #000;
	border-radius: 0px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

	.dropzone.dz-clickable img {
		cursor: default;
		width: 100%;
		/*height: 150px;*/
	}

	.btn {
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0px;
		font-size: 1em;
		margin: 0 .75em;
		padding: .75em 1.5em .875em;
	}

	.close {
		text-shadow: 0px;
		color: white;
		opacity: 1;
	}

	.slim { margin: 0px;}
	.dropzone {padding: 0px;}

	.dropzone{
		/*display:flex;*/
		display: block;
		flex-wrap: nowrap;
		width: 100%;
		min-height: auto;
	}

	.dz-details{
	border: 1px solid #F6F6F6;
	position: relative;
	width: auto;
	padding: 0px;
	margin:0px;
	max-width: 100%;
	}

	.dz-details img, .dz-details input{
	display: block;
	}

	.dz-details input{
	margin-bottom: 20px;
	}

	.dz-filename, .dz-size{
	display: none;
	}

	.dz-remove {
	position: absolute;
	color: white;
	background: rgba(0,0,0,.7);
	padding: 5px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	}

	/*
	.dz-remove{
	position: absolute;
	top: 0;
	right: 7px;
	color:#000000;
	}*/

	.cropImage {	
	color: white;			
	width: 30px;
	height: 30px;
	}

	/*
	.cropImage{
	position: absolute;
	top:0px;
	left:10px;
	color:#000000;
	}*/

	.dropzone .dz-message {
		text-align: center;
		margin: 2em 0;
		width: 100%;
	}

	.slim {
		background-color:  #ffffff;
		width: 100%;
	}

	.dropzone-empty {
		background-color: white;
		padding: 30px;
		display: block;
		white-space: normal;
		border: #000000 dotted 1px;
		font-size: 12px;
	}

	.dropzone .dz-preview .dz-image {	    
	    width: 100%;
	    height: auto;
	    z-index: 10;
	}

	.dropzone .dz-preview .dz-image {
    border-radius: 0;
	}

	.dz-details {
    	border: 0;
	}

	.dz-buttons {
		top: 0;
		left: 0;
		z-index: 10;
		position:absolute;
		padding:30px;
		background:rgba(0,0,0,.4);
		width:100%;
		text-align: left;
	}

	.dz-buttons a{
		color:#fff;
	}

	.dropzone .dz-preview {
	    position: relative;
	    display: inline-block;
	    vertical-align: top;
	    margin: 16px;
	    min-height: 100px;
	    width: 100%;
	}