body {
  font-family:'Avenir LT Std 35 Light';
  letter-spacing: 0.05em;
  color: #000000;
}

#precios-home {
  font-size: 22px;
}

.iconos-footer-movil {
  text-align: right;
}

.iconos-footer-movil i {
  padding: 0px 5px;
}

.slim[data-state*=error] {
    background-color: #e8a69f!important;
    color: #702010;
    font-size: 10px;
}

.font-movil-footer {font-size: 8px;}

#footer-movil {padding-bottom: 30px;}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

button:focus {outline:0;}
button:active {
outline: none;
border: none;
}

button:focus {outline:0;}
body b {font-weight:  800;}

/* Header */
@-webkit-keyframes MOVE-BG {
  from {background-position: 0% 0%}
  to {background-position: 100% 0%}
}

.alert-danger {
    color: #000;
    background-color: #F6F6F6;
    border-color: #D0D0D0;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 0rem;
}

.animacion-header-home {
  width: 100%;
  height: 100%;
  background: url(http://www.bluepixel.mx/venuescopia/theme/assets/images/BG/background-login.jpg) 0% 0% repeat;
  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 80s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
/* Header */

.fa, .fas, .far, .fal, .fab {line-height: 1.2;}

#btn-top-login {
  color: #000000;
  padding: 2px 8px;
  background-color:  transparent;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

#btn-top-login2 {
  border:  #000000 solid 2px;
  color: white;
  padding: 2px 8px;
  background-color:  #000000;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

#btn-top-login2:hover {border:  #000000 solid 2px; color: #000000; background-color: #ffffff}

.button-lg {padding: 10px 40px;}
.modal-footer > :not(:first-child) {margin-left: 0;}

.titulo-header {
  font-size:  16px;
  text-transform: uppercase;
  letter-spacing:  3px;
  font-family:'Avenir LT Std 35 Light';
}

.texto-negro {color: #000000;}
.texto-blanco {color: #ffffff;}

.form-control {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-radius: 0;
    padding: 15px 20px;
    margin: 0;
}

.navbar-fixed, .navbar-sticky.navbar-sticky-apply {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.select-options li {text-transform: uppercase;}

.navbar-absolute .nav-toggle-btn .lines, .navbar-absolute .nav-toggle-btn .lines::before, .navbar-absolute .nav-toggle-btn .lines::after {
    background: #000000;
}

.navbar .dropdown-dark {background: #ffffff;}

.redes-menu-movil i {font-size: 24px; margin-top:  10px;}
.redes-menu-movil2 i {font-size: 24px; margin-top:  10px; padding: 0px 5px;}

#redes-top {margin-right: 5px; margin-top:-5px;}

.margin-nav {margin-right:  10px; margin-left: 10px;}
.navbar .navbar-brand {margin-left: 0.5em;}

#bold-menu a {font-weight: 800; letter-spacing: 3px; font-family: 'Montserrat', sans-serif; font-size: 12px; margin-top: 2px;}

.nav-link {display: block;padding: 0;}
.redes-menu i:hover {color: #646464;}
.navbar-absolute .nav .nav-item .nav-link { color: #000000; margin-top: 5px;}
.navbar-absolute:hover .nav:hover .nav-item:hover .nav-link:hover { color: #747474;}

#nav-main {margin-left: -4%;}

.redes-menu i {font-size: 22px;}
.redes-menu a:hover {color: #646464; cursor: pointer;}

.titulos {font-size: 24px; letter-spacing: 5px; font-weight: 700;}
h5 {line-height: 1;}
h6 {line-height: 1;}
h4 {font-size: 24px;  line-height: 1;}

.imagen-venues-home {
    margin-bottom:  5px;
    -webkit-transition: box-shadow 0.5s ease-out;
    -moz-transition: box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out;
    transition: box-shadow 0.5s ease-out;
}

.imagen-venues-home:hover {
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.3), 0 13px 24px -11px rgba(0, 39, 0, 0.3);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.3), 0 13px 24px -11px rgba(0, 0, 0, 0.3);
}

.btn-buscar-header {background-color:  #000000; font-weight: 800; color: #ffffff; border: #000000 solid 2px; font-family: 'Montserrat', sans-serif;}
.btn-buscar-header:hover {background-color:  #ffffff; color: #000000; border: #000000 solid 2px;}
.btn-informes:hover {background-color:  #000000; color: #ffffff;}

.beneficios-anunciar h3 {font-size: 12px; letter-spacing: 2px; font-family:'Avenir LT Std 85 Heavy'; line-height: 1.2; text-transform: uppercase;}
.beneficios-anunciar h2 {font-size: 24px; letter-spacing: 5px; font-weight: 800; text-transform: uppercase;}

#btn-publicar-header {background-color:  #ffffff; color: #000000; border:#000000 solid 2px;}
#btn-publicar-header:hover {background-color:  #000000; color: #ffffff; border:#000000 solid 2px;}
#btn-favorito-header {background-color:  transparent; color: #000000; border:#000000 solid 0px;}
#btn-favorito-header:hover {color: red;}

#btn-publicar-header2 {background-color:  #000000; color: #ffffff; border:#000000 solid 2px;}
#btn-publicar-header2:hover {background-color:  #ffffff; color: #000000; border:#000000 solid 2px;}

.navbar .nav .nav-item .dropdown-menu {
    position: absolute;
    top: 50px;
    left: -30px;
    background: #fff;
    min-width: 220px;
    border: none;
    border-radius: 0;
    padding: 0px 0;
}

.navbar-shrink.navbar-absolute .nav .nav-item .nav-link::before, .navbar-shrink.navbar-absolute .nav .nav-item .nav-link::after, .navbar-shrink.navbar-absolute-dark .nav .nav-item .nav-link::before, .navbar-shrink.navbar-absolute-dark .nav .nav-item .nav-link::after {
    background: white;
}

.navbar .nav .nav-item.nav-dropdown .nav-link {padding-right: 5px;}

/* Autocomplete */
.autocomplete {position: relative;}

#buscador-header input {
  border: 0px solid #000000;
  background-color: #ffffff;
  margin-bottom:  0px;
  font-family:'Avenir LT Std 35 Light';
  z-index: 999;
  color: #A0A09F;
}

#buscador-header input [type=text] {
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  margin-bottom:  0px;
}

#buscador-header input [type=submit] {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  text-align: left;
}



.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 0px solid #d4d4d4;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  font-size: 14px;
  z-index: 9999999;
}

.autocomplete-items div:hover {
  /*when hovering an item:*
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #000000 !important;
  color: #ffffff;
  z-index: 999;
}

.shop-sidebar .shop-sidebar-box {border: 0px solid #e6e6e6;}

#myInputautocomplete-list {
  display: block;
  position: absolute;
  z-index: -1;
}

.favoritos-home button {text-align: center; color: white; float: right;}
.favoritos-home {margin-top: -35px; margin-bottom:  20px; margin-right:  5px; position:absolute ; z-index: 9999999; margin-left: 90%;}

.favoritos-home2 button {text-align: right; color: white;}
.favoritos-home2 {
  margin-top: -60px;
  margin-bottom: 20px;
  margin-right: 10px;
  z-index: 10;
  width: auto;
  display: inline-block;
  position: absolute;
  right: 10px;
}

.modal-header img {width: 50%;}
.btn-share-header {float: right; text-align: right;}

.gallery-wrapper.spacing-20 div[class^="col-"]:not(.row) {  margin-bottom: 0px;padding: 0 10px;}
.col-spacing-40 div[class^="col-"]:not(.row) {  margin-bottom: 0px;padding: 0 20px;}

td b {font-weight: 900; color: #000000;}

.texto-mensaje-contacto {font-size:  12px;  line-height: 1.2;}
input, textarea, .form-control {color: #646464;border: #000000 solid 1px; font-family:'Avenir LT Std 35 Light';font-weight:normal;}

.select-tipo img {width:  30%;}

.custom-select {
    background-color: transparent;
    width: auto;
    min-width: 160px;
    height: auto;
    border-radius: 0;
    padding: 10px 15px;
    border-color: rgba(0, 0, 0, 0.1);
    color: #141414;
    font-size: 14px;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    border: black solid 2px;
    font-family:'Avenir LT Std 35 Light';
}

.registro-venue-img img {width:  20%;}
.btn-olvide-contrasena {background-color:  transparent; border:  0; font-size:  10px; text-decoration: underline;}
.personas-venue {padding:  60px 0px; text-transform: uppercase;}

.personas-venue2 h4 {font-size:  12px; letter-spacing: 2px;}
.personas-venue2 {padding:  20px 0px; text-transform: uppercase;}

.iconos-venue h5 {font-size: 11px;}
.iconos-venue {margin-top: -10px;}

input, textarea {
    background: white;
    width: 100%;
    border: 2px solid #000000;
    margin-bottom: 0px;
    padding: 12px 10px;
    box-shadow: none;
    font-weight: 300;
    font-size: 13px;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    font-family:'Avenir LT Std 35 Light';
}

.col-spacing-70 .row div[class^="col-"]:not(.row), .col-spacing-60 .row div[class^="col-"]:not(.row), .col-spacing-50 .row div[class^="col-"]:not(.row), .col-spacing-40 .row div[class^="col-"]:not(.row) {
    margin-bottom: 15px;
    padding: 0 15px;
}

.col-spacing-70 .row div[class^="col-"]:not(.row), .col-spacing-60 .row div[class^="col-"]:not(.row), .col-spacing-50 .row div[class^="col-"]:not(.row), .col-spacing-40 .row div[class^="col-"]:not(.row) {
    margin-bottom: 15px;
    padding: 0 0px;
}

.contacto-venue {position: fixed;top: 0px;left: 0px;  max-height: 100%;}
.header {padding: 10px 16px;  background: #555;color: #f1f1f1;}
.content {  padding: 16px;}
.sticky {  position: fixed;  top: 12%;width: 100%;}
.sticky + .content {  padding-top: 102px;}

.ver-mas {padding:  30px 0px;}
.btn-outline-secondary {margin-bottom:  5px; font-weight:  900;}

textarea {height: auto;}
.gallery-img {padding:  10px;}

.prices-box .btn, .prices-box .text-button, .prices-box .button {margin-top: 0px;}

.slidecontainer {  width: 100%;}

.slider {
    -webkit-appearance: none;
    border:  0;
    width: 100%;
    height: 10px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 10px 0px;
}

.slider:hover {  opacity: 1;}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 11px solid black;
    cursor: pointer;
    background: transparent;
}

.slider::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border: 0px;
    width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 11px solid black;
    cursor: pointer;
    background: transparent;
}

.blog-post-box {margin-bottom: 0px;}
.blog-small-thumbnail .blog-post-box {margin-bottom: 10px;}

.padding-registro-nav {z-index: 1; margin-bottom:  0px;}


/*
li.active > a.hidden-xs {display: block!important;}
li.active > a.visible-xs {display: block!important;} */

.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 0px solid #fff;
  border-left: 0px solid #fff;
}

.nav-pills.nav-wizard > li {
  width: 31.33%;
  margin-bottom:  1.5%;
  margin-left:  1%;
  margin-right:  1%;
  border: #000000 solid 1px;
  text-align: center;
}

.nav-pills.nav-wizard > li:hover {
  background-color:  white;
  color: #ffffff;
  border: #000000 solid 1px;
  cursor: pointer;
}


.nav-pills.nav-wizard > li a {
  border-radius: 0;
  color: #000000;
  font-weight: 700;
  text-align: center;
  font-family:'Avenir LT Std 35 Light';
}

.nav-pills.nav-wizard > li a:hover {
  border-radius: 0;
  color: #000000;
}

.nav-pills.nav-wizard:focus {
  background-color: red;
}

.btn-registro {
  width: 100%;
  background-color: #ffffff;
  color: #ffffff;
  font-size:  9px;
  text-transform: uppercase;
}

.navbar .nav .nav-item, .navbar .nav .nav-item .nav-link.active {
    color: white;
}

.nav-pills .pill-1 .pill-2 .pill-3 .pill-4 .pill-5 .nav-link {
    margin-bottom: 10px;
}

#nav-progreso .navbar .nav .nav-item {
    margin-right: 0px;
}

.button-xl {padding: 10px 20px;}

/*
.progress {background-color: black; margin-bottom: 20px; margin-top:  10px; padding: 10px;}
.progress-bar {background-color: red; font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-size: 13px; margin-bottom:  10px;}
*/

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: black;
    border-radius: 0px;
    transition: width .6s ease;
    font-family:'Avenir LT Std 35 Light';
    text-transform: uppercase;
    font-size: 13px;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: 13px;
    background-color: #e9ecef;
    border-radius: 0px;
    width: 100%;
    margin-bottom: 20px;
    margin-top:  10px;
}

.fondo-tip-registro p {font-size: 13px; line-height: 2; text-align: center; letter-spacing: 0.05em;}
.nombre-tip {text-transform: uppercase;}
.nombre-tip b {margin-right: 30px;}
.sticky {position: sticky;z-index: 9999;top: 100;width: 100%;}
.sticky + .content {padding-top: 100px;}

.col-spacing-70 .row, .col-spacing-60 .row, .col-spacing-50 .row, .col-spacing-40 .row {
  margin-right: -0px;
  margin-bottom: -30px;
  margin-left: -0px;
}

.galeria-header {margin-top:  35%;}
.tabla-espacios {font-size:  12px;}
.btn-outline-secondary {font-size:  12px;}


/* Estilos para el select de amenidades */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #fff;
  width: 100%;
  padding:  10px;
  background-color:  #000000;
  text-align: left;
  font-weight:  900;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  border:  #000000 solid 2px;
  color: black;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family:'Avenir LT Std 85 Heavy';
  text-transform: uppercase;
  text-align: center;
}

.shop-sidebar ul li {
    list-style-type: none;
    font-family: 'Avenir LT Std 85 Heavy';
}

textarea {
  font-size: 13px;
  line-height: 2;
  text-align: left;
}

.card {border-radius: 0;}

.nav.nav-pills .nav-item .nav-link.active, .nav.nav-pills .nav-item .show .nav-link {
    background: #000;
    color: #fff;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.select-styled:hover {
  background-color: #ffffff;
  color: #000000;
}

.select-styled:active, .select-styled.active {
  background-color: #ffffff;
  color: #000000;
}

.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  color: #000000;
}

.select-options li {
  margin: 0;
  text-align: center;
  border: 1px solid #000000;
  font-family: 'Montserrat', sans-serif;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  color: #ffffff;
  background: #000000;
}

.select-options li[rel="hide"] {display: none;}

.fondo-desplegable {background-color:  red;}
.clients-grid { font-size:  12px;}
.clients-grid {text-align: left;}
.clients-grid li {padding: 20px;}

.clients-grid2 li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 16.6%;
    margin: 0;
    padding: 5px;
    border:  0px;
}

.button i {
    margin-right: 0px;
    font-size: 15px;
}

/*Generales ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0px;
    letter-spacing: 0;
    color: #141414;
    font-weight: 700;
}

h5 {font-size: 18px;line-height: 1.5;}

.link-todos {color: #000000;}
.link-todos:hover {color: #646464;}
.link-todos a:hover {color: #646464;}

.titulos-general {
  line-height: 1;
  font-weight: 900;
}

.titulos-general-modal {
  line-height: 1;
  font-weight: 600;
  letter-spacing: 8px;
}

.text-general-p {
  letter-spacing: 0.05em;
  color: #000000;
}

.product-tab h5 {
  letter-spacing: 0.05em;
  color: #000000;
  font-weight:  900;
}

.titulos-general h2 {line-height: 0;}

.titulos-general2 {
  line-height: 1;
  font: normal normal normal 42px/1.4em lulo-clean-w01-one-bold,sans-serif;
  font-weight: 600;
  letter-spacing: 8px;
}

.subtitulos-general {color: #000000;}

.subtitulos-general2 {
  letter-spacing: 0.05em;
  color: #000000;
}

.texto-chico {
  letter-spacing: 0.04em;
  font-size: 10px;
  line-height: 1.6em;
}

.font-montserrat {font-family: 'Montserrat', sans-serif;}
.font-avenir {font-family:'Avenir LT Std 35 Light';}

#btn-negro:hover {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; cursor: pointer;}

#btn-blanco {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family:'Avenir LT Std 85 Heavy';}
#btn-blanco:hover,#btn-blanco.active  {background-color:  #000000; color: #ffffff; border:#000000 solid 2px; outline: none;}

#btn-blanco-preview {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family:'Avenir LT Std 85 Heavy';}
#btn-blanco-preview:hover,#btn-blanco.active  {background-color:  #000000; color: #ffffff; border:#000000 solid 2px; outline: none;}

#btn-blanco-header {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family:'Avenir LT Std 85 Heavy';}
#btn-blanco-header:hover {background-color:  #000000; color: #ffffff; border:#000000 solid 2px;}

#btn-blanco-small {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family:'Avenir LT Std 85 Heavy';}
#btn-blanco-small:hover {background-color:  #000000; color: #ffffff; border:#000000 solid 2px;}

#btn-negro-small {background-color:  #000000; color: #ffffff; border:#000000 solid 2px; font-family:'Avenir LT Std 85 Heavy';}
#btn-negro-small:hover {background-color:  #ffffff; color: #000000; border:#000000 solid 2px;}

#btn-telefono {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family:'Avenir LT Std 85 Heavy';}
#btn-telefono:hover {background-color:  #000000; color: #ffffff; border:#000000 solid 2px; cursor: pointer;}

#btn-telefono-small {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family:'Avenir LT Std 85 Heavy';}
#btn-telefono-small:hover {background-color:  #000000; color: #ffffff; border:#000000 solid 2px;}

.section, .section-md {padding: 40px 0;}

.footer {padding: 20px 0; font-size: 0.9;}

.footer-bottom { padding: 20px 0;}
.footer-bottom p { font-size: 10px;}
.footer-bottom i {font-size: 22px;}

.button-circle-sm i {
    line-height: 40px;
    font-size: 20px;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 60px;
    color: #000000;
    font-size: 65px;
    z-index: -9999999;
}

.button-circle-dark, a.button-circle-dark {
    background: transparent;
    border-color: transparent;
    color: #000000;
}

.button-circle-dark, .button-circle-dark, a.button-circle-dark, a.button-circle-dark {
    background: transparent;
    border-color: none;
    color: #000000;
    font-size: 28px;
}

.button-circle-dark:hover, .button-circle-dark:focus, a.button-circle-dark:hover, a.button-circle-dark:focus {
    background: transparent;
    border-color: transparent;
    color: #000000;
}

.bg-dark-lighter {background: #000000 !important;}
.prices-box {border: 2px solid #000000;}
.position-middle-interna {top: 50%;}

.heading-uppercase {text-align: left;}

.accordion li {
    list-style-type: none;
    border: 1px solid transparent;
        border-bottom-color: red;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-bottom: #000000 solid 1px;
    margin: 0;
}

.accordion li:last-child {border-bottom: #000000 solid 1px;}

.bg-white-interna2 {height: 100vh;}
.bg-white-contacto {background-color: rgba(255, 255, 255, 0.8); height: 60vh;}

.bg-dark-content a, .bg-black a, .bg-black-09 a, .bg-black-08 a, .bg-black-07 a, .bg-black-06 a, .bg-black-05 a, .bg-black-04 a, .bg-black-03 a, .bg-black-02 a, .bg-black-01 a, .bg-dark-lighter a, .bg-dark-lightest a, .bg-dark a {
    color: #ffffff;
}

.accordion li .accordion-title {padding: 7px 0;}
.accordion li .accordion-title h6 {letter-spacing: 0.05em; font-weight: normal; line-height: 2.1; font-family:'Avenir LT Std 35 Light';}

.bg-white-content, .bg-white, .bg-white-09, .bg-white-08, .bg-white-07, .bg-white-06, .bg-white-05, .bg-white-04, .bg-white-03, .bg-white-02, .bg-white-01, .bg-secondary, .bg-light {
    color: #000000;
}

.accordion-content p {
  font-size: 14px;
  margin-top: 1px;
}

.navbar-absolute .list-horizontal li a, .navbar-absolute .list-horizontal-unstyled li a, .navbar-absolute .list-horizontal-dash li a {color: #000000;}

.navbar .dropdown-dark .nav-item.nav-dropdown .dropdown-menu, .navbar .dropdown-dark .nav-item.nav-dropdown .dropdown-menu .sub-dropdown .sub-dropdown-menu {
    background: #ffffff;
}

.navbar .nav .nav-item .dropdown-menu li {
    position: relative;
    padding: 0px;
    border: #000000 solid 1px;
}

.navbar .nav .nav-item.nav-dropdown .dropdown-menu li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #000000;
    padding: 0px;
    font-weight: 800;
}

.navbar .nav .nav-item.nav-dropdown .dropdown-menu li:hover a {
    color: #ffffff;
    background-color:  #000000;
}

.dropdown-menu li:hover a {
    color: #ffffff;
    padding-left: 0px;
    background-color:  #000000;
}

#slide-venue .owl-nav {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000000;
    z-index: 99999999999;
}

.numero-nav {font-size: 12px; margin-top:  3px;}
.list-unstyled {font-size: 10px;}
.borde-espacios {padding: 10px; border: 2px solid #000000;}

.pagination {
    margin: 0;
        margin-top: 0px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.padding-about{padding-top: 50px;}
.nombre-menu {padding: 15px;}
.telefono-modal { padding: 10px;}
.modal .modal-content .modal-header {border-bottom: 0px solid rgba(0, 0, 0, 0.1);}

.modal-header .close {
    padding: 0rem;
    margin: -1rem -1rem -1rem auto;
}

.modal .modal-content .modal-footer {border-top: 0px solid rgba(0, 0, 0, 0.1);}

.modal-open .modal {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 99999999999999999;
    overflow: visible;
}

.modal-header {padding: 0.5rem;}

.modal .modal-content {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border: 0;
}

.modal-title {text-transform: uppercase; margin-top: 20px; letter-spacing: 0.18em; font-size: 15px; font-weight: 100;}

.precio-modal {padding:  5px 20px; text-align: center; border: #000000 solid 2px; color: #000000; font-weight: 900;}
.precio-minus {margin-top:  10px;}

#favoritos-carrousel > .owl-dots {
  visibility: visible;
  background: transparent;
  border-radius: 40px;
  padding: 5px 14px;
}

#favoritos-carrousel > .owl-nav {
    position: absolute;
    top: 50%;
    right: 0%;
    left: 5%;
    background: transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 60px;
    color: #ffffff;
    font-size: 34px;
    z-index: 99999999;
}

.product-single .product-single-img .product-single-img-slider .owl-prev, .product-single .product-single-img .product-single-img-slider .owl-next {
    visibility: hidden;
    opacity: 1;
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.product-single-img-slider .owl-prev, .product-single .product-single-img .product-single-img-slider .owl-next {
    visibility: hidden;
    opacity: 0;
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.owl-carousel.owl-nav-overlay .owl-nav button.owl-next, .owl-carousel.owl-nav-overlay .owl-nav button.owl-prev {
    background: transparent;
    border-radius: 50%;
    color: rgba(255, 255, 255);
    text-align: center;
    font-size: 70px;
    width: 50px;
    height: 100px;
}

.product-table th, .product-table td {
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    font-family:'Avenir LT Std 35 Light';
    letter-spacing: 0.025em;
}

.favoritos-header {font-size: 28px;}

/*.tab-content > .active {display: contents;}*/

.product-single .product-single-img .product-single-img-slider .owl-next {right: 0px;}
.product-single .product-single-img .product-single-img-slider .owl-prev {left: 0px;}

.shop-sidebar .shop-sidebar-box {
    padding: 10px;
    font-family:'Avenir LT Std 35 Light';
    letter-spacing: 0.025em;
}

.shop-sidebar {position: relative;}

#propiedad-lateral {font-size: 10px;}

.close:not(:disabled):not(.disabled), .close:not(:disabled):not(.disabled) {
    color: #000000;
    text-decoration: none;
    opacity: 1;
    font-size: 32px;
}

/*
.modal-open {
    overflow: scroll;
    overflow-y: auto;
}*/

.modal-open {
  overflow: hidden;
}

.modal-inicio {
  letter-spacing: 5px;
  font-size: 32px;
  font-weight: 800;
}

.subtitulo-modal-inicio {
  letter-spacing: 0.18em;
  font-size:  14px;
  margin-top:  10px;
}

.pagination .page-item .page-link {
    border: 0px solid red;
        border-top-color: red;
        border-right-color: red;
        border-bottom-color: red;
        border-lealtft-color: red;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0px;
}

.pagination .page-item .page-link:focus {
    background: white;
    border: red;
}

a.page-link {
    background: white;
    border: red;
}

.owl-carousel[data-owl-nav="true"] {padding: 0 0px;}
.row {margin-right: 0px;margin-left: 0px;}
.bold-mail {font-weight: 900; text-transform: uppercase; letter-spacing: 3px; font-size:  14px;}
.bold-mail img { width: 5%; margin-right:  10px;}

#filtro-precio {margin-left: 0;}

.prices-box .price h1 span, .prices-box .price h2 span, .prices-box .price h3 span, .prices-box .price h4 span, .prices-box .price h5 span, .prices-box .price h6 span {
    color: #000000;
    font-family:'Avenir LT Std 35 Light';
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  color: #000000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-top: 5px;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  background-color:  white;
  margin-top: 5px;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color:  transparent;
}

.btn-recuperar:hover {color: #646464; cursor: pointer;}

#tab-register h3 {line-height: 1;}

.navbar .nav .nav-item.nav-dropdown .dropdown-menu li:hover a {
    padding-left: 0px;
}

.page-link:hover {
    z-index: 2;
    color: black;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: transparent;
}

a.page-link {
    background: white;
        background-color: white;
    border: red;
        border-top-color: red;
        border-right-color: red;
        border-bottom-color: red;
        border-left-color: red;
}

.precio-resultados {font-size: 9px; margin-bottom: 20px;}
.precio-resultados img {margin-top: -5px;}

.btn-outline-success:hover, .btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active {
    background: #ffffff;
    border-color: #000000;
    color: #000000;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

.ahorro-anuncia {background-color:  #000000; text-align: center; padding: 10px; color: #ffffff; text-transform: uppercase; font-size: 10px; font-family:'Avenir LT Std 35 Light'}

.modal-footer {
    display: -ms-block;
    display: block;
}

.badge {
  color: #ffffff;
  border-radius: 50%;
  background-color: #000000;
  position: relative;
  margin-left: -10px;
  font-size: 8px;
  margin-top: -15px;
}

.navbar-absolute .list-horizontal li a:hover, .navbar-absolute .list-horizontal-unstyled li a:hover, .navbar-absolute .list-horizontal-dash li a:hover {
    color: #747474;
}

.list-horizontal-unstyled h6 {padding: 0px 17px;}

#amenidades-modal img {width: 15%;}

.submit-result span#error {
    color: #000000;
}

.navbar ul.list-horizontal-unstyled li {margin: 0 10px 0 0;}

.title-filtrar {
  border: 0px;
  font-size: 16px;
  text-align: center;
  margin-bottom:  30px;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Avenir LT Std 35 Light';
  margin-top: -3px;
}

#link-olvide-contrasena {
  font-size: 16px;
  padding-top: 20px;
}

#link-olvide-contrasena:hover {
  color: #646464;
  text-decoration: none;
  cursor: pointer;
}

.owl-carousel.owl-dots-overlay .owl-dots {padding: 10px 14px;}

.amenidades-registro:hover {cursor: pointer; color: red;}

.table td, .table th {border-top: 0px solid #e6e6e6; height: 50px;}

#table-amenidades td {padding: 0px;}

.font-weight-bold {
    font-weight: 800 !important;
}

#precios {text-align: center; padding-bottom:  10px;}

#success {color: #000000;}
#error {color: #000000;}

.amenidades-movil {
  font-size: 9px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 0px;
  margin-top:  10px;
  margin-bottom: 10px;
  display: inline-flex;
  width: 45%;
}

.list-amenidades ul {list-style: none;}

#margin-footer-01 {margin-left: -110px;}
#margin-footer-02 {margin-left: 80px; position: relative;}
#margin-footer-03 {margin-left: 110px; position: relative;}
#margin-footer-redes {position: relative; margin-left: -120px;}

.fav-top {
  font-size: 18px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.progress-bar {
  font-weight: 800;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: initial;
}

/* Icon Favoritos */
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.notification-icon {
    position: relative;
    top: 0;
    font-size: 18px;
    background-color: transparent;
    user-select: none;
    color: white;
    transition: color 150ms;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.notification-icon:after {
  content: "";
  position: absolute;
  transition: all 100ms;
  opacity: 0;
}
.notification-icon.active {
  color: white;
  animation: swing 500ms ease-in-out;
}
.notification-icon.active:after {
  opacity: 1;
}

.animate-swing:after {
  top: -12px;
  right: -12px;
}
.animate-swing.active:after {
  top: -3px;
  right: -3px;
}

.animate-swing-bottom:after {
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}
.animate-swing-bottom.active:after {
  bottom: -16px;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
/* Icon Favoritos */

.active > .prices-box {
    border: 2px solid #e3e3e3;
}


.far.fa-heart.active{
  color:#ff0000;
  font-family: 'Font Awesome 5 Free';
  content: "fas fa-heart";
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50;
}




/* Select Publicar */
.c-selection-card {
  cursor: pointer;
  margin-bottom:  0px;
}

input[type='radio']{ height: 0; width: 0; display: none }

input[type='radio'] + label {
  font-size: 24px;
  position: relative;
  cursor: pointer;
  margin: 0;
  align-items: center;
  color: #9e9e9e;
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='radio'] + label > .control__indicator{
  margin-right: 0em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #D6DDE3;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='radio'] + label:hover, input[type='radio']:focus + label{
  color: #fff;
}
input[type='radio'] + label:hover > .control__indicator, input[type='radio']:focus + label > .control__indicator{
  background: rgba(255,255,255,.1);
}

input[type='radio']:checked + label > .control__indicator{
  border: .5em solid #000000;
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}

input[type="radio"]:checked + label > .control__indicator::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: .28em;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 100ms 200ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{
    transform: scale(.85);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{
    width: .2em;
    height: .5em;
    border-color: #fff;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}




.navbar-shrink.navbar-absolute, .navbar-shrink.navbar-absolute-dark {
    background: #fff;
    z-index: 99999999999999999;
}

#buscador-header ul {background: #ffffff; z-index: 99999; box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);}
#buscador-header ul li {
  text-decoration: none;
  list-style: none;
  /*padding: 10px 10px;*/
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0 0 0px;
}
#buscador-header ul li:hover {background-color: #f2f2f2; }










/* Slider */
#app {
  margin: 20vh auto;
  max-width: 400px;
  color: #444;
}

.range-slider {
  width: 240px;
  padding: 1em;
  background: rgba(238, 238, 238, 0.7);
  border-radius: 7px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.values-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
}

.value {
  font-size: 14px;
  width: 5em;
  text-align: center;
}
.value:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 2px yellowgreen;
}

.track {
  position: relative;
  width: inherit;
  height: 2px;
  background: #000000;
}

.thumb {
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;
}

.thumb::after {
    position: absolute;
    content: "";
    border-style: solid;
        border-top-style: solid;
    border-width: 25px;
        border-top-width: 25px;
        border-right-width: 25px;
        border-left-width: 25px;
    border-left-width: 15px;
    border-right-width: 15px;
}

.thumb-min::after {
  border-top: none;
  border-color: transparent transparent #000000 transparent;
  transform: translate(-50%, 2px);
}

.thumb-max::after {
  border-bottom: none;
  border-color: #000000 transparent transparent transparent;
  transform: translate(-50%, -100%);
}

.selection {
  position: absolute;
  width: unset;
  height: 2px;
  background: gray;
}

.text {
  display: initial;
  margin-bottom: 0.5em;
}

.thumb-max.active::after {border-color: #000000 transparent transparent transparent;}
.thumb-min.active::after {border-color: transparent transparent #000000 transparent;}
.hide {display: none;}
/* Slider */


.capa-transparente {
  background: rgba(0, 0, 0, 1);
  z-index: 99999;
}

#consultando {
  height: 100vh;
  padding: 50px;
  background: #ffffff;
  width: 100%;
}


#consultando img {
  width: 30%;
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: icon;
}

#btn-slider-fav {margin-top:-45px;}

#precioRange {
  height: auto;
  padding: 0px 0px 90px 0px;
}




/***** TOOLTIP COPIAR LINK *****/
.copyLink {
  position: relative;
  display: inline-block;
}

.copyLink .copyLinktext {
  visibility: hidden;
  width: 150px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  font-family: 'Avenir LT Std 35 Light';
  letter-spacing: 0.05em;
}

.copyLink .copyLinktext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

.copyLink:hover .copyLinktext {
  visibility: visible;
  opacity: 1;
}

.fondo-tip-registro strong {line-height: 3; font-family:'Avenir LT Std 85 Heavy';}
.fondo-tip-registro {line-height: 1;}











/* Font Avenir
<h1 style="font-family:'Avenir LT Std 55 Roman';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 55 Oblique';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 35 Light';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 35 Light Oblique';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 45 Book';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 45 Book Oblique';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 65 Medium';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 65 Medium Oblique';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 85 Heavy';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 85 Heavy Oblique';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 95 Black';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>
<h1 style="font-family:'Avenir LT Std 95 Black Oblique';font-weight:normal;font-size:42px">AaBbCcDdEeFfGgHhŞşIıİi Example</h1>*/


/* start input-range */
.input-range {
    padding-top: 15px;
    padding-bottom: 0px;
    position: relative;
    max-width: 100%;
}
.input-range input[type="range"].multirange {
  width: 100%;
}
.input-range .range {
  display: flex;
  justify-content: space-between;
}
.input-range input[type="range"].multirange {
  padding: 0;
  --range-color: #000000; /* 007cc2 */
  --range-color: #000000; /* 98ce44 */
  margin: 0;
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
    cursor: pointer;
    border: 0px;
}
.input-range input[type="range"].multirange.original {
  position: absolute;
}
.input-range input[type="range"].multirange::-webkit-slider-runnable-track {
  background: red;
}
.input-range input[type="range"].multirange.original::-webkit-slider-thumb {
  position: relative;
  z-index: 2;
}
.input-range input[type="range"].multirange::-webkit-slider-thumb {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  border-radius: 15px;
  border: none;
  display: block;
  background: var(--range-color);
  height: 15px;
  width: 15px;
}
.input-range input[type="range"].multirange.original::-moz-range-thumb {
  transform: scale(1);
  z-index: 1;
}
.input-range input[type="range"].multirange::-moz-range-track {
  border-color: transparent;
}
.input-range input[type="range"].multirange.ghost {
  position: relative;
  background: linear-gradient(to right,
        transparent var(--low),
        var(--range-color) 0,
        var(--range-color) var(--high),
        transparent 0 ) no-repeat 0 50% / 100% 20%;
}
.input-range input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
  background: linear-gradient(to right,
        transparent var(--low),
        var(--range-color) 0,
        var(--range-color) var(--high),
        transparent 0 ) no-repeat 0 50% / 100% 20%;
}
.input-range input[type="range"].multirange.ghost::-moz-range-track {
  background: linear-gradient(to right,
        transparent var(--low),
        var(--range-color) 0,
        var(--range-color) var(--high),
        transparent 0 ) no-repeat 0 45% / 100% 40%;
}

.lowDollarAmount {
    background-color: #ffffff;
    border: #000000 solid 2px;
    font-weight: 900;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-family:'Avenir LT Std 95 Black';
}

.highDollarAmount {
  background-color: #ffffff;
  border: #000000 solid 2px;
  text-align: center;
  font-weight: 900;
  color: #000;
  font-size: 14px;
  font-family:'Avenir LT Std 95 Black';
}
/* end input-range */


.input-range input[type="range"].multirange::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   border-radius: 0;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   cursor: pointer;
   background: #fff;
   opacity: 0.65;
   border: 4px solid #c20042;
   position: relative;
   transition: all ease-in-out 0.05s;
}

.input-range input[type="range"].multirange::-moz-range-thumb {
   -webkit-appearance: none;
   appearance: none;
   border-radius: 0;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   cursor: pointer;
   background: #fff;
   opacity: 0.65;
   border: 4px solid #c20042;
   position: relative;
   transition: all ease-in-out 0.05s;
}


.owl-carousel.owl-dots-overlay .owl-dots {padding: 5px 10px;}

#img-icon-venue {width:5%;}

#contenedor-vacio-resultados {
  background-color: white;
  height: 50vh;
  width: 100vh;
  margin-bottom:  30px;
}


.irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: #000000;
}

.irs-with-grid .irs-grid {display: none;}
.irs--flat .irs-bar { top: 25px; height: 12px; background-color: #000000; }
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle > i:first-child {background-color: transparent;}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {background-color: #000000;}
.irs--flat .irs-from::before, .irs--flat .irs-to::before, .irs--flat .irs-single::before {border-top-color: #000000;}
.irs--flat.irs-with-grid { height: 60px; margin-bottom: 30px; }
.irs {font-family:'Avenir LT Std 35 Light'; margin-bottom: 30px;}
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {background-color: transparent;}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
color: white;
font-size: 10px;
line-height: 1;
text-shadow: none;
padding: 0px;
background-color: #000000;
border-radius: 0px;
padding: 2px 5px;
}
.irs--flat .irs-bar {top: 35px;}
.irs--flat .irs-line {top: 35px;}
.irs--flat .irs-line {border-radius: 0px;}

#telefono .font-montserrat, #share .font-montserrat{
  text-transform: uppercase;
  font-size: 18px !important;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: #000000;
}

.irs-with-grid .irs-grid {display: none;}
.irs--flat .irs-bar { top: 25px; height: 12px; background-color: #000000; }
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle > i:first-child {background-color: transparent;}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {background-color: #000000;}
.irs--flat .irs-from::before, .irs--flat .irs-to::before, .irs--flat .irs-single::before {border-top-color: #000000;}
.irs--flat.irs-with-grid { height: 60px; margin-bottom: 30px; }
.irs {font-family:'Avenir LT Std 35 Light'; margin-bottom: 30px;}
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {background-color: transparent;}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
color: white;
font-size: 10px;
line-height: 1;
text-shadow: none;
padding: 0px;
background-color: #000000;
border-radius: 0px;
padding: 2px 5px;
}

.irs--flat .irs-bar {top: 35px;}
.irs--flat .irs-line {top: 35px;}
.irs--flat .irs-line {border-radius: 0px;}

#telefono .font-montserrat, #share .font-montserrat{
  text-transform: uppercase;
  font-size: 18px !important;
}

.irs-with-grid .irs-grid {display: none;}
.irs--flat .irs-bar { top: 25px; height: 12px; background-color: #000000; }
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle > i:first-child {background-color: transparent;}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {background-color: #000000;}
.irs--flat .irs-from::before, .irs--flat .irs-to::before, .irs--flat .irs-single::before {border-top-color: #000000;}
.irs--flat.irs-with-grid { height: 60px; margin-bottom: 30px; }
.irs {font-family:'Avenir LT Std 35 Light';}
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {background-color: transparent;}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  color: #e1e4e9;
  font-size: 10px;
  line-height: 1;
  text-shadow: none;
  padding: 0px;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px 5px;
  color:#fff;
  visibility: visible !important;
}
.irs--flat .irs-bar {top: 35px;}
.irs--flat .irs-line {top: 35px;}
.irs--flat .irs-line {border-radius: 0px;}


.irs-to, .irs--flat .irs-single {
    background-color: transparent;
    bottom: -70px;
    top: inherit;
}

.irs--flat .irs-from, .irs--flat  {
    background-color: transparent;
    bottom: -20px;
    top: inherit;
    color: #fff;
}

.irs--flat .irs-from::before, .irs--flat .irs-to::before, .irs--flat .irs-single::before {
  margin-bottom: 20px;
  margin-left: -10px;
  border-top: solid 1em #000;
  border-left: solid 1em transparent;
  border-right: solid 1em transparent;
  border-top: 0;
  border-bottom: solid 1em #000;
}

.irs--flat .irs-from::before{
  margin-bottom: 20px;
  margin-left: -10px;
  border-top: solid 1em #000;
  border-left: solid 1em transparent;
  border-right: solid 1em transparent;
  border-bottom: 0;
  border-top: solid 1em #000;
}

.irs--flat .irs-single::before {
  display: none;
}

.alert {
  padding: 1rem 1rem;
  margin-bottom: 10px;
  margin-left: 0px;
  background: #E6E6E6;
  border-radius: 0px;
  border: 0px;
  color: #000;
}

#buscador-header ul li a{
  display: block;
}

.product-tab {
    border: 1px solid #e6e6e6;
    padding: 10px;
}


.paginate_button {
    border: 1px solid #000;
    color: #000;
    padding: 5px;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    text-align: center;
    margin-right: 4px;
    cursor: pointer;
}

.paginate_button:hover,.paginate_button.active{
  color: #fff;
  background: #000;
}

.btn-group, .btn-group-vertical {
    margin-top: 0px;
}


.product-table .cart-product-thumbnail h1, .product-table .cart-product-thumbnail h2, .product-table .cart-product-thumbnail h3, .product-table .cart-product-thumbnail h4, .product-table .cart-product-thumbnail h5, .product-table .cart-product-thumbnail h6, .product-table .wishlist-product-thumbnail h1, .product-table .wishlist-product-thumbnail h2, .product-table .wishlist-product-thumbnail h3, .product-table .wishlist-product-thumbnail h4, .product-table .wishlist-product-thumbnail h5, .product-table .wishlist-product-thumbnail h6 {
    font-family:'Avenir LT Std 35 Light';
    line-height: 1.5;
    font-weight: normal;
}

.personas-range-slide {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #000;
  width:100%;
}

.irs--flat .irs-min, .irs--flat .irs-max {display: none;}


.btn {
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.chzn-container .chzn-results .highlighted {
    background-color: #000 !important;
    background-image: none !important;
    color: #fff !important;
}

.btn-info, .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, a.btn-info, a.btn-info:not(:disabled):not(.disabled).active, a.btn-info:not(:disabled):not(.disabled):active {
    background: #000000;
    border-color: #000000;
    color: #fff;
}

.btn-danger, .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, a.btn-danger, a.btn-danger:not(:disabled):not(.disabled).active, a.btn-danger:not(:disabled):not(.disabled):active {
    background: #000000;
    border-color: #000000;
    color: #fff;
}

li.listadoDropableSearch{
    position:relative;
}

.listadoDropableSearch input{
    border: 2px solid black;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Avenir LT Std 85 Heavy';
    margin-bottom: 0px;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.listadoDropableSearch ul{
    margin-top: -10px; 
    display:none;    
    text-align: left;
    position: inherit;
    width: 100%;
    background: #fff; 
    z-index: 1; 
    border: 1px solid black;
    padding:0;
    margin:0;
}

.listadoDropableSearch ul li{
    border-bottom: 1px solid #000;
    margin:0;
    list-style: none;
}

.listadoDropableSearch ul li:last-child{    
    border-bottom: 0;
}

.listadoDropableSearch ul li a{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform:uppercase;
     padding: 10px;
     display: block;
}

.listadoDropableSearch ul li a:hover, .listadoDropableSearch ul li.active a{
    background:#000;
    color:#fff;
}

.col-4.listadoDropableSearch input{
    padding:0;
    font-size: 11px;
    height: 35px;
}

.estados .select-options {
    max-height: 170px;
    overflow-y: auto;
}

.estados .select-options li{
    text-align:left;    
    padding-left:10px;
}

div.autocomplete ul{  
  text-align: left;
  position: absolute;
  width: 100%;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  top: 37px;
  border: 0px solid black;
  padding:0;
  margin:0;
  z-index: 10000;
}

div.autocomplete ul li{
  list-style: none;
  padding:0px;
  margin:0px;
}

div.autocomplete ul li a{
  display: block;
  padding: 10px;
}

div.autocomplete ul li a:hover, div.autocomplete ul li.active a{
  background:#000;
  color:#fff;
}

.submit-result p{
  text-align: center;
}

.slim-error p{
  line-height: 17px;
  text-align: left;
  font-size: 12px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.fa, .fas, .far, .fal, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: auto;
}

.btn-outline-success.disabled, .btn-outline-success:disabled{
  background: #000;
  color:#fff;
  opacity: 1;
}

body .flexigrid{
  display: none;
}

body.loaded .flexigrid{
  display: block;
}

.paginate_button a{
  display: block;
  width:100%;  
  height: 100%;
}

.paginate_button {    
    padding: 0px;
    line-height: 31px;
    padding-left: 2px;
}

.form-control:focus {
  color: #495057;
  background-color:#fff;
  border-color:#0000 solid 2px;
  outline: 0;
  box-shadow: 0 0 0 0rem red;
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

* .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: 
  black;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

#btn-negro {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.btn:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.amenidadesModal, .amenidadesModal li{
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.amenidadesModal{
  margin: 20px 0;
}

.amenidadesModal li{
  width:20%;
  padding: 13px;
  white-space: nowrap;
}

#espaciosDatosExtras .row{
  margin-bottom: 0;
}

@media screen and (max-width:480px){
  .amenidadesModal li{
    width:50%;
    padding: 13px;
  }
}

input::-webkit-contacts-auto-fill-button, 
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.link-recuperar-modal a {
  text-decoration: underline;
  cursor: pointer;
}

.editando-preview {font-size: 10px;}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #000;
    background-color:#000;
    color:#fff;
    opacity: 1;
}

