/* Queries */
@media only screen and (min-width : 150px) {
.navbar-fixed, .navbar-sticky.navbar-sticky-apply {
    padding-top: 0px;
}
.navbar-brand img {margin-top: 0px;}
.navbar {height: auto;  z-index: 10001;}
#btn-top-login {
  border:  #000000 solid 0px;
}
#btn-top-login:hover {border:  #ffffff solid 0px; color: #747474; background-color: transparent;}
.titulo-header img {width: 60%}

.logo-footer img {width: 70%;}
#buscador-header {width:70%; background-color: #ffffff;}
#buscador-header2 {width: 70%; background-color: #ffffff;}
.btn-buscar-header {width: 30%; font-size: 10px;}

.titulos-general {font-size: 22px; letter-spacing: 4px; margin-bottom: 20px;}
.subtitulos-general {font-size: 14px;}
.link-todos {
  margin-top: 0px;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: center;
}

.row div[class^="col-"]:not(.row) {
    margin-bottom: 10px;
}
.section-title { margin-bottom: 50px;}
.titulo-venue-home h5 {font-size:  16px; letter-spacing: 2px; font-weight: 900; text-align: left; height: auto;}

.text-responsive {text-align: center;}
.text-responsive2 {text-align: center;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {margin-left: -8%;}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {margin-right: -8%;}

.owl-carousel .owl-dots { margin-top: 10px;}

.margin-text-header {margin-left: 0px; margin-top:  30px;}
.margin-text-header-contact {margin-left: 0px; margin-top:  10px;}
.margin-text-header2 {margin-left: 0px; margin-top:  80px;}
.margin-text-contacto {margin-left: 100px; margin-top:  0px;}

#header-height {height: 70vh;}
#header-contact {height: 90vh;}
#header-contact2 {height: 100vh;}
#header-fact {height: 90vh;}
.padding-same {padding:  10px 0px;}

.section-fullscreen {width: 100%;height: 100%;  position: relative; z-index: 10000;}
.section-fullscreen-interna {width: 100%;height: 50%;}
#section-index {width: 100%;height: 60%;}

.position-middle {
  margin: 0 auto;
  height: 50%;
}

.section-fullscreen .container, .section-fullscreen .container-fluid {
    height: 50%;
}

.section-title-interna h2 { margin-bottom: 20px; letter-spacing: 3px; font-size: 20px;}
.section-title-interna3 h2 { margin-bottom: 10px; letter-spacing: 3px; font-size: 22px;}

p {font-size: 14px; line-height: 1.5; text-align: justify; letter-spacing: 0.05em;}

.contenedor-header-titulo {padding: 50px 30px;}
.contenedor-header-titulo2 {padding: 30px 30px; margin-top: 50px;}
.contenedor-header-titulo3 {padding: 30px 30px; margin-top: 0px;}
.position-middle h2 {font-size: 18px; text-align: center;}

/* Resultas */
.container-resultas {padding-left:  0px;}
.sidebar-filtros {position: inherit;margin-left: 0%;}
.title-resultas {letter-spacing: 0.03em; font-size: 12px; letter-spacing: 5px; font-weight: 900; padding: 9px 20px; margin-bottom:  20px;}
#margin-movil-titulo-resultas {margin-bottom: 10px;}
.titulo-resultados-movil h5 {font-size: 11px;}
.text-resultas-movil {font-size: 14px; margin-bottom:  0px; height: auto;}
#product-single {margin-bottom: 30px;}
.filtros-movil {padding:  30px 0px;}
.margin-registro-top {margin-top:  30px;}
/* Resultas */

/* Venue Interna */
.personas-venue {
    padding: 50px 0px;
    text-transform: uppercase;
}
.personas-venue img { margin-top: -5px;}
.texto-descripcion {font-size:  14px; line-height: 1.7; text-align: justify;}
.contenedor-espacios-interna {margin-bottom:  30px;}
.btn-informes {background-color:  #ffffff; font-weight: 900; color: #000000; border: #000000 solid 2px; padding: 10px; width: 100%;}
.btn-contacto-movil {width: 100%; padding-left: 0px; padding-right: 0px;}
#margin-form-movil {margin-bottom:  100px;}
.section-xl {padding: 200px 0;}
/* Venue Interna */

/* FAQ */
.margin-contact {margin-top:  0px;}
#contactform {padding: 0px 0px;}
/* FAQ */

/* About */
.margin-about {margin-left: 0px;}
/*About */

.margin-top-50 {margin-top: 30px !important}
.btn-buscar-header {
  padding: 9px 5px;
  letter-spacing: 1px;
  font-size: 8px;
  font-weight: 600;
}

h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.section-title-interna {margin-bottom: 30px;}
.resolvimos-modal {margin-top: 10px;}
.bg-white-interna-contacto {background-color: rgba(255, 255, 255, 0.8); height: auto; margin-bottom:  50px;}
.anuncia-height {height: auto; margin-bottom: 20px;}
.anuncia-precios {height: auto; margin-bottom: 20px;}

.padding-50 {padding: 30px !important;}
.login-casa {padding: 30px;}
.bg-white-interna {background-color: rgba(255, 255, 255, 0.8); height: 100vh;}

.margin-bienvenido {margin-top: 0px; padding: 0px 20px;}

.product-single {
  padding-right: 1px;
  padding-left:auto;
}

.owl-carousel .owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 6px;
}

#btn-blanco-small {font-size:  8px; padding: 10px 0px;}
#btn-negro-small {font-size:  8px; padding: 10px 0px;}
#btn-telefono-small {font-size:  8px; padding: 10px 0px;}

#btn-telefono {width: 100%;}

.select-options li {
  padding: 10px 10px;
  font-size: 9px;
  text-align: left;
  font-family: 'Avenir LT Std 85 Heavy';
  letter-spacing: 1px;
}

.iconos-venue {width: 0.5%;}

.share-header {margin-top:  -110px;}
.fondo-gris {background-color:  #f6f6f6; padding:  10px;}
.tip {
  margin-left: 0px;
  position: inherit;
}

.guardar-salir {  margin-left:  0px; font-size:14px; margin-top:20px; text-align: center; width: 100%;}

.texto-descripcion {padding-right: 0px;}
.padding-contact {padding: 0px 40px;}
.navbar .container, .navbar .container-fluid {height: 60px;}
.navbar .navbar-brand img {max-height: 25px;}

.position-middle {top: 60%;}
.accordion li {padding: 10px 0px;}
.navbar .nav {top: 50px;}

.padding-movil-home {padding: 30px;}
.margin-bottom-50 {margin-bottom: 30px;}

#slide-venue .owl-nav {
    top: 50%;
    right: 7%;
    left: 7%;
    font-size: 14px;
}

.btn-solicitar { margin-bottom:  10px; width: 100%; text-align: right;}

.btn-preview {width: 100%;}

.margin-buscador-top {margin-top: 50px;}
.list-icon {font-size: 6px; margin-bottom: 0px;}

.nav-pills.nav-wizard > li a {
  letter-spacing: 2px;
  font-size:  6px;
}


#iconos-precio-venues { text-align: left;}
#iconos-precio-venues2 { text-align: left;}

.modal-content {padding: 10px; margin-top: 19%;}

.owl-carousel .owl-nav {
    right: -2%;
    left: -2%;
}

#buscador-header input {
  padding: 8px;
  font-size: 12px;
}

.margin-bottom-50 {margin-bottom: 30px;}

.margin-redes-movil {margin-top: 0px;}

.margin-movil {margin-bottom: 30px;}

.navbar .nav-toggle-btn {
    right: 30px;
}

#amenidades-modal {width:100%; height: 80vh; margin-left: 0%; overflow: scroll;}

.table td, .table th {
    padding: 10px;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

.c-selection {
  box-sizing: border-box;
  align-items: center;
  display: block;
  justify-content: space-between;
  margin-bottom:  30px;
}

#btn-negro {
  background-color:  #000000; 
  color: #ffffff; 
  border:#000000 solid 2px; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px; 
  width: 100%; 
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#btn-blanco {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family: 'Montserrat', sans-serif; font-size: 14px; width: 100%; text-align: center;}
#btn-blanco-preview {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family: 'Montserrat', sans-serif; font-size: 8px; width: 100%; display: flex; align-items: center;}
#btn-blanco-header {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family: 'Montserrat', sans-serif; font-size: 14px; width: auto;}

.selection-gap>* {
   margin-left: 0px;
}


.pie-foto-slider {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  color: #ffffff;
  font-size: 10px;
}

[class*=" ti-"], [class^="ti-"] {
    font-size: 40px;
}

.fondo-preguntas {
  padding: 100px 0px 50px 0px;
}

.titulo-header {
  margin-top: 60px;
}

.contenedor-pie-slider {margin-top:-110px;}

.c-selection-card {
  height: auto;
}

#listado-resultados {width: 144%;}
#iconos-precio-venues {text-align: left;}
#iconos-precio-venues2 {text-align: left;}
.notification-icon {line-height: 1.2;}
body {font-size: 14px;}
.subtitulos-general2 {font-size: 14px;}
.price-features {height:  auto;}
.price h1 {font-size: 44px;}
.margin-text-header {margin-left: 0px; margin-top:  60px;}
#contenido-acordion p {}
.titulos-general-modal {font-family:'Avenir LT Std 85 Heavy'; font-size: 16px; letter-spacing: 0.18em;}
.accordion li .accordion-title h6 {font-size: 14px;}
.navbar .nav .nav-item .nav-link {line-height: 30px; padding: 0px 10px; font-size: 13px; letter-spacing: 1px;}
.fondo-tip-registro {background-color:  white; padding:  20px; margin-top: 20px;}
#btn-continuar-anuncia {display: block;}
.select-styled {
  padding: 10px 10px;
  font-size: 8px;
  letter-spacing: 1px;
  text-align: left;
}
#btns-agregar-fotos button {width: 100%; margin-bottom: 10px;}
#slim-foto {width: 250px; height: auto; margin-top: 20px; margin-bottom: 20px;}
#precios {font-size: 12px; height: auto;}
.prices-box {padding: 10px;  text-align: center;}
#btns-pagos-anuncia {display: block;}
.btn-factura label {margin-top: 30px; width: 100%;}
.margin-codigo-movil {margin-bottom: 20px;}
.contenedor-espacios-venues {margin-bottom: 20px;}
.product-single .product-single-img {position: relative;padding-left: 0px;margin-bottom:  0px;}
.product-single .product-single-img .product-single-img-slider .owl-next  {right: 50px;}
.product-single .product-single-img .product-single-img-slider .owl-prev {left: 50px;}
ul.list-horizontal-unstyled li {margin: 0 10px 0 0; font-size: 24px;}
#blanco-registro {height: 90vh;}
.btn-olvide-login {text-align: center; padding: 30px 0px; text-decoration: underline;}
.fondo-movil-login {background-color:  rgba(255, 255, 255, 0.7);}
.product-tab h5 {font-size: 10px;}
.button-edit-cuenta button {margin-bottom: 5px;}
#flex-grid-venues {display: block;}
.redes-movil-general {text-align: right;}
.redes-movil-general i {padding: 0px 10px; font-size: 24px;}
.usuario-movil-top {font-family: 'Avenir LT Std 35 Light'; text-transform: uppercase; margin-bottom: 10px; padding-bottom: 10px; border-bottom: #e6e6e6 solid 1px;}
#ancho-casilla {font-size: 9px;}
.padding-movil-casilla {padding-left: 20px;padding-right: 0px;text-align: center;}
.padding-movil-casilla2 {padding-left: 20px;padding-right: 0px;text-align: center;}
.margin-personas-movil {margin-left: 15%;}

.notification-icon {margin-top: 2px;}
.contenedor-resultas-height {height: 1;}

.margin-texto-pago {margin-bottom: 20px;}
.input-range {margin-bottom: 50px;}
.list-amenidades {line-height: 2; margin-top:50px;}

.owl-carousel.owl-nav-overlay .owl-nav button.owl-next, .owl-carousel.owl-nav-overlay .owl-nav button.owl-prev {
    width: 100px;
    height: 100px;
}

.footer {margin-top: 50px;}

.listadoDropableSearch input{
    font-size: 8px;
    letter-spacing: 1px;
    height: 36px;
}

.link-todos a {text-decoration: underline;}
.margin-bottom-20 {margin-bottom: 10px !important;}
h5 {font-size: 18px;line-height: 1.5; text-align: center;}
.margin-paginador-resultados { margin-top: 50px; }
.margin-btn-guardar-movil {margin-bottom: 20px;}
.botones-cuenta {display: block;}
.btn-eliminar-cuenta {margin-top: 20px; text-decoration: underline; text-align: center;}
.titulo-header {font-size:  10px;}
#logo-resultados {width: 50%;}

.select {height: 36px;}



#margin-amenidades-movil {margin-top: 10px;}
.contenedor-terminos-margin {padding: 0px 20px;}
.nuevo-ver-todas-propiedades {margin-top: 0px;}
.precios-venues {font-size: 10px; letter-spacing: 0px; font-weight: 800; margin-top: 20px;}
#iconos-precio-venues img { width: 10%; margin-top: -3px;}
#iconos-precio-venues2 img { width: 10%; margin-top: -3px;}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 220px;
  margin-bottom: 0;
}

.owl-carousel .owl-item img {
  display: inline-block;
  width: 100%;
}

.imagen-brujula img {width:  40%;}
.img-beneficios-anuncia {width:  30%; margin-bottom:  20px;}

#inicio-carrousel {height: 150px;}

#texto-precios-pasos {font-size: 36px;}
.margin-bottom-membresias {margin-bottom: 20px;}
.imagen-brujula {margin-top: 70px;}
.personas-venue h4 {font-size:  11px; letter-spacing: 2px;}

.btns-movil-editar button {height: 50px;}
.shop-sidebar .shop-sidebar-box {margin-top:  50px;}
.margin-propiedades-tablet {margin-top: 50px;}

.margin-btn-espacios-movil {margin-bottom: 50px;}








}



@media only screen and (min-width : 480px) {
.logo-footer img {width: 30%;}
.navbar .navbar-brand img {max-height: 20px;}
.margin-redes-movil {margin-top: 15px;}
.precios-venues {font-size: 14px;}
#iconos-precio-venues img { width: 6%; margin-top: -3px;}
#iconos-precio-venues2 img { width: 6%; margin-top: -3px;}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 120px;
  margin-bottom: 0;
}

#iconos-precio-venues {text-align: left; font-size: 10px; letter-spacing: 0px;}
#iconos-precio-venues2 {text-align: left; font-size:10px; letter-spacing: 0px;}


}



@media only screen and (min-width : 768px) {
.navbar-fixed, .navbar-sticky.navbar-sticky-apply {
    padding-top: 50px;
}
.navbar-brand img {margin-top: -20px;}
.navbar {height: 93px;}
#btn-top-login {
  border:  #000000 solid 2px;
}
#btn-top-login:hover {border:  #ffffff solid 2px; color: white; background-color: #000000;}
.section-fullscreen {width: 100%;height: 85%;}
#section-index {width: 100%;height: 85%;}
.section-fullscreen-interna {width: 100%;height: 100%;}
.titulo-header img {width: 70%}

.logo-footer img {width: 30%; margin-top: 0px;}
#buscador-header {width: 80%; background-color: #ffffff;}
#buscador-header2 {width: 70%; background-color: #ffffff;}
.btn-buscar-header {width: auto;}

.titulos-general {font: 38px; letter-spacing: 10px; line-height: 1.2; margin-bottom: 0px;}
.subtitulos-general {font-size: 16px;}
.link-todos {
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: right;
}

.row div[class^="col-"]:not(.row) {
    margin-bottom: 30px;
}
.section-title { margin-bottom: 50px;}
.titulo-venue-home h5 {font-size:  14px; letter-spacing: 2px; font-weight: 900; text-align: left; height: auto;}

.text-responsive {text-align: left;}
.text-responsive2 {text-align: right;}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {margin-left: -1%;}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {margin-right: -1%;}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {margin-left: 1.5%;}
.owl-carousel,.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {margin-right: 1.5%;}

.owl-carousel .owl-dots { margin-top: 30px;}

.margin-text-header {margin-left: 100px; margin-top:  60px;}
.margin-text-header-contact {margin-left: 40px; margin-top:  60px;}
.margin-text-header2 {margin-left: 0px; margin-top:  80px;}
.margin-text-contacto {margin-left: 100px; margin-top:  0px;}

#header-height {height: 85vh;}
#header-contact {height: 85vh;}
#header-contact2 {height: 85vh;}
#header-fact {height: 85vh;}
.padding-same {padding:  10px 0px;}

.section-title-interna h2 {
  margin-bottom: 20px;
  letter-spacing: 8px;
  font-size: 32px;
}
.section-title-interna3 h2 { margin-bottom: 5px; letter-spacing: 7px; font-size: 33px;}

p {font-size: 16px; line-height: 2; text-align: justify;}

.contenedor-header-titulo {padding: 50px 30px;}
.contenedor-header-titulo2 {padding: 60px 30px; margin-top: 20px;}
.contenedor-header-titulo3 {padding: 20px 20px; margin-top: 20px;}
.position-middle h2 {font-size: 34px; margin-bottom: 30px;}

/* Resultas */
.container-resultas {padding-left:  200px;}
.shop-sidebar .shop-sidebar-box:last-child {margin-bottom: 0;width: 200px;}
.sidebar-filtros {position: absolute;margin-left: -3%; margin-top: 60px;}
.title-resultas {font-size: 16px; letter-spacing: 2px; padding: 20px 0px 0px 0px; margin-bottom:  0px; font-family:'Avenir LT Std 35 Light';}
#margin-movil-titulo-resultas {margin-bottom: 30px;}
.titulo-resultados-movil h5 {font-size: 18px;}
.text-resultas-movil {font-size: 14px; margin-bottom:  10px; height: auto;}
#product-single {margin-bottom: 0px;}
.product-single:hover {
  -webkit-transition: box-shadow 0.5s ease-out;
  -moz-transition: box-shadow 0.5s ease-out;
  -o-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
}
.filtros-movil {padding:  0px 0px;}
.margin-registro-top {margin-top:  100px;}
/* Resultas */

/* Venue Interna */
.personas-venue {
    padding: 60px 0px;
    text-transform: uppercase;
}
.personas-venue img { margin-top: -5px;}
.texto-descripcion {font-size:  16px; line-height: 2.1;}
.btn-informes {background-color:  #ffffff; font-weight: 900; color: #000000; border: #000000 solid 2px; padding: 10px; width: auto;}
.btn-contacto-movil {width: auto;}
.margin-form-movil {margin-bottom:  0px;}
.section-xl {padding: 350px 0;}
/* Venue Interna */

/* FAQ */
.margin-contact {margin-top:  100px;}
#contactform {padding: 0px 0px;}
/* FAQ */

/* About */
.margin-about {margin-left: 0px;}
/*About */

.margin-top-50 {margin-top: 50px !important;}
.btn-buscar-header {
  padding: 9px 10px;
  letter-spacing: 2px;
  font-size: 10px;
  /*margin-left: -5px; Comentado para que se alinie el buscador */
  margin-left: 0;
  height: 42px;
  margin-top: px;
}

h2 {
    font-size: 32px;
    line-height: 48px;
}

.section-title-interna {margin-bottom: 0px;}
.resolvimos-modal {margin-top: 10px;}
.bg-white-interna-contacto {background-color: rgba(255, 255, 255, 0.8); height: 85vh; margin-bottom: 0px;}
.anuncia-height {height: 200px; margin-bottom: 0px;}
.anuncia-precios {height: 300px; margin-bottom: 0px;}

.padding-50 {padding: 50px !important;}
.login-casa {padding: 50px;}
.bg-white-interna {background-color: rgba(255, 255, 255, 0.8); height: 100vh;}

.margin-bienvenido {margin-top: 120px; padding: 0px 50px;}

.product-single {
  padding-right:  10px;
  padding-left: 10px;
}

.owl-carousel .owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 15px;
}

#btn-blanco-small {font-size:  11px; padding: 10px 10px;}
#btn-negro-small {font-size:  11px; padding: 10px 0px;}
#btn-telefono-small {font-size:  11px; padding: 10px 0px;}

#btn-telefono {width: auto;}

.select-options li {
  padding: 12px 0;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-align: center;
}

.iconos-venue {width: 5%;}

.share-header {margin-top:  -200px;}
.fondo-gris {background-color:  #f6f6f6; padding:  20px;}
.tip {
    margin-left: -50px;
    position: absolute;
    text-align: left;
    float: left;

}

.guardar-salir {margin-left:  20px; font-size:18px; margin-top:10px; width: auto;}

.guardar-salir a {margin-top:-20px;}
.texto-descripcion {padding-right: 120px;}
.padding-contact {padding: 0px 20px;}

.navbar .container, .navbar .container-fluid {height: 0px;}
.navbar .navbar-brand img {max-height: 20px;}
.position-middle {top: 60%;}
.accordion li {padding: 0px 0px;}

.navbar .nav {top: 80px;}

.padding-movil-home {padding: 0px;}

.titulos-general {font-size: 32px; letter-spacing: 10px;}
.margin-bottom-50 {margin-bottom: 50px;}

#slide-venue .owl-nav {
    top: 50%;
    right: 13%;
    left: 13%;
    font-size: 30px;
}

.btn-solicitar { margin-bottom:  20px; width: 100%; text-align: right;}

.btn-preview {width: auto;}

.margin-buscador-top {margin-top: 0px;}
.list-icon {font-size: 9px;}

.nav-pills.nav-wizard > li a {
  letter-spacing: 2px;
  font-size:  8px;
}


#iconos-precio-venues { text-align: left;}
#iconos-precio-venues2 { text-align: left;}
#iconos-precio-venues img {
    width: 8%;
    width: 15px;
    height: 15px;
}
#iconos-precio-venues2 img {
    width: 8%;
    width: 15px;
    height: 15px;
}

.modal-content {padding: 30px; margin-top: 19%;}

.owl-carousel .owl-nav {
    right: -7%;
    left: -7%;
}

#buscador-header input {
    padding: 13px 0px 12px 10px;
    font-size: 14px;
    height: auto;
}

.position-middle {
  margin: 0 auto;
  height: auto;
}

.margin-bottom-50 {margin-bottom: 50px;}

.margin-movil {margin-bottom: 0px;}


#amenidades-modal {width:800px; margin-left: -20%;}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 0px solid #dee2e6;
}

.c-selection {
  box-sizing: border-box;
  align-items: center;
  display: block;
  justify-content: space-between;
}

#btn-negro {
  background-color:  #000000; 
  color: #ffffff; 
  border:#000000 solid 2px; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px; 
  width: auto; 
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#btn-blanco {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family: 'Montserrat', sans-serif; font-size: 14px; width: auto; box-shadow: none;}
#btn-blanco-preview {background-color:  #ffffff; color: #000000; border:#000000 solid 2px; font-family: 'Montserrat', sans-serif; font-size: 14px; width: auto; box-shadow: none;}

.selection-gap>* {
   margin-left: 0px;
}

.pie-foto-slider {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #ffffff;
  font-size: 12px;
}

[class*=" ti-"], [class^="ti-"] {
    font-size: 26px;
}

.fondo-preguntas {
  padding: 150px 0px 50px 0px;
}

.titulo-header {
  margin-top: 0px;
}

.contenedor-pie-slider {margin-top:-200px;}

.c-selection-card {
  height: 250px;
}

#slide-venue [class*=" ti-"], [class^="ti-"] {
    font-size: 52px;
}

#listado-resultados {width: 100%;}
#iconos-precio-venues {text-align: left; font-size: 8px; letter-spacing: 0px;}
#iconos-precio-venues2 {text-align: left; font-size:8px; letter-spacing: 0px;}

.catalogoMain #iconos-precio-venues {text-align: left; font-size: 11px; letter-spacing: 1px;}
.catalogoMain #iconos-precio-venues2 {text-align: left; font-size:11px; letter-spacing: 1px;}

.notification-icon {line-height: 1.2;}
body {font-size: 16px;}
.subtitulos-general2 {font-size: 16px;}
.price-features {height:  100px;}
.price h1 {font-size: 44px;}
.titulos-general-modal {font-family:'Avenir LT Std 85 Heavy'; font-size: 16px; letter-spacing: 0.18em; line-height: 1.5;}
.accordion li .accordion-title h6 {font-size: 14px;}
.navbar .nav .nav-item .nav-link {line-height: 30px; padding: 0px 10px; font-size: 10px; letter-spacing: 1px;}
.fondo-tip-registro {background-color:  white; padding:  30px; margin-top: 0px;}
#btn-continuar-anuncia {display: inline-flex;;}
.select-styled {
  padding: 10px 15px;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-align: center;
}
#btns-agregar-fotos button {width: auto; margin-bottom:0px;}
#slim-foto {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  float: left;
  height: 100px;
}
#precios {font-size: 12px; height: 70px;}
#btns-pagos-anuncia {display: flex;}
.prices-box {padding: 30px;  text-align: center;}
.btn-factura label {margin-top: 0px; width: auto;}
.margin-codigo-movil {margin-bottom: 0px;}
.contenedor-espacios-venues {margin-bottom: 0px;}
.product-single .product-single-img {position: relative;padding-left: 0px;margin-bottom:  10px;}
.product-single .product-single-img .product-single-img-slider .owl-next  {right: 20px;}
.product-single .product-single-img .product-single-img-slider .owl-prev {left: 0px;}
#blanco-registro {height: 90vh;}
.btn-olvide-login {text-align: left; padding: 0px 0px; text-decoration: underline;}
.fondo-movil-login {background-color: transparent;}
.product-tab h5 {font-size: 14px;}
.button-edit-cuenta button {margin-bottom: 0px;}
#flex-grid-venues {display: inline-block;}
#ancho-casilla {font-size: 12px;}
.padding-movil-casilla {padding-left: 24px;padding-right: 49px;text-align: right;}
.padding-movil-casilla2 {padding-left: 24px;padding-right: 80px;text-align: right;}
.margin-personas-movil {margin-left: 18%;}

.notification-icon {margin-top: -4px;}
.contenedor-resultas-height {height: auto;}

.margin-texto-pago {margin-bottom: 0px;}
.input-range {margin-bottom: 0px;}

.owl-carousel.owl-nav-overlay .owl-nav button.owl-next, .owl-carousel.owl-nav-overlay .owl-nav button.owl-prev {
    width: 50px;
    height: 100px;
}

.footer {margin-top: 0px;}

.listadoDropableSearch input{
    font-size: 11px;
    letter-spacing: 1px;
    height: 36px;
}

.link-todos a {text-decoration: none;}
.margin-bottom-20 {margin-bottom: 20px !important;}
h5 {font-size: 18px;line-height: 1.5; text-align: left;}
.margin-paginador-resultados { margin-top: 0px; }
.margin-btn-guardar-movil {margin-bottom: 0px;}
.botones-cuenta {display: inline-flex;}
.btn-eliminar-cuenta {margin-top: 20px; text-decoration: underline; text-align: right;}

.section-fullscreen .container, .section-fullscreen .container-fluid {
    height: 100%;
}
.titulo-header {font-size:  16px;}
#logo-resultados {width: 20%;}
.select {height: 38px;}




#margin-amenidades-movil {margin-top: 0px;}
.contenedor-terminos-margin {padding: 0px 100px;}
.nuevo-ver-todas-propiedades {margin-top: 50px;}
.precios-venues {font-size: 10px;}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 150px;
  margin-bottom: 0;
}

.owl-carousel .owl-item img {
  display: inline-block;
  width: 100%;
}

.imagen-brujula img {width:  25%;}
.img-beneficios-anuncia {width:  10%; margin-bottom:  20px;}
#header-height {height: 100vh;}
#header-contact {height: 85vh;}
#header-contact2 {height: 85vh;}
#header-fact {height: 85vh;}
#iconos-precio-venues img { width: auto; margin-top: -3px;}
#iconos-precio-venues2 img { width: auto; margin-top: -3px;}
.margin-bottom-membresias {margin-bottom: 0px;}
.imagen-brujula {margin-top: 0px;}

.btns-movil-editar button {height: auto;}
.margin-propiedades-tablet {margin-top: 0px;}










}




@media only screen and (min-width : 992px) {
.logo-footer img {
  width: 23%;
  margin-top: 5px;
  margin-left: 40px;
  position: relative;
}

.navbar .navbar-brand img {max-height: 40px;}

.fondo-gris {background-color:  #f6f6f6; padding:  30px;}

.c img {width: 10%; margin-top: 5px;}

.navbar-brand img {margin-top: -40px;}
#blanco-registro {height: 150vh;}
.nuevo-ver-todas-propiedades {margin-top: 48px;}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 150px;
  margin-bottom: 0;
}

.anuncia-height {height: 250px; margin-bottom: 0px;}
.anuncia-precios {height: 350px; margin-bottom: 0px;}
.padding-50 {padding: 10px !important;}
.titulos-general {font-size: 32px; letter-spacing: 10px;}
#inicio-carrousel {height: auto;}
#texto-precios-pasos {font-size: 26px;}
.personas-venue h4 {font-size:  12px; letter-spacing: 2px;}

.imagen-brujula img {width:  55%;}
.margin-btn-espacios-movil {margin-bottom: 0px;}









}




@media only screen and (min-width : 1200px) {
.nav-pills.nav-wizard > li a {
  letter-spacing: 3px;
  font-size:  12px;
  #blanco-registro {height: 120vh;}
}

.btn-buscar-header {
  padding: 9px 20px;
  letter-spacing: 3px;
  font-size: 12px;
  /*margin-left: -5px; Comentado para que se alinie el buscador */
  margin-left: 0;
  height: 42px;
  margin-top: px;
}


.fondo-gris {background-color:  #f6f6f6; padding:  80px;}
.nuevo-ver-todas-propiedades {margin-top: 52px;}
.precios-venues {font-size: 14px; margin-top: 10px;}
.price h1 {font-size: 64px;}
.anuncia-height {height: 300px; margin-bottom: 0px;}
.anuncia-precios {height: 300px; margin-bottom: 0px;}
.img-beneficios-anuncia {width:  30%; margin-bottom:  20px;}

#header-height {height: 85vh;}
#header-contact {height: 85vh;}
#header-contact2 {height: 85vh;}
#header-fact {height: 85vh;}
.padding-50 {padding: 50px !important;}
.titulos-general {font-size: 42px; letter-spacing: 10px;}
.padding-contact {padding: 0px 100px;}

#iconos-precio-venues {text-align: left; font-size: 9px; letter-spacing: 1px;}
#iconos-precio-venues2 {text-align: left; font-size:9px; letter-spacing: 1px;}

/* About */
.margin-about {margin-left: 70px;}
/*About */

.imagen-brujula img {width:  75%;}
.shop-sidebar .shop-sidebar-box {margin-top:  15px;}






}
